:root {
  --yellow: #f7c600;
  --blue: #002379;
  --red: #c9132a;
  --white: #f7f7f7;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flag {
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.container__flag {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 33% auto 33%;
  grid-template-columns: auto;
}
.yellow {
  background-color: var(--yellow);
  grid-column: 1/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-row: auto;
  width: 100%;
  height: 100%;
  position: relative;
}
.shield{
  background: center / contain no-repeat url("https://i.imgur.com/Ld6cAsu.png");
  width: 90%;
  height: 90%;
  grid-column: 1/2;
  align-items: start;
  justify-content: left;
  margin-left: calc(-20% + 10px);
}
.blue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column: 1/3;
  grid-row: 2/3;
  background-color: var(--blue);
  position: relative;
}
.red {
  grid-column: 1/3;
  grid-row: 3/5;
  background-color: var(--red);
}
.star {
  margin: 0 auto;
  background-image: url("https://img.icons8.com/material-sharp/96/ffffff/star--v1.png");
  background-position: center;
  background-size: cover;
  width: 60px;
  height: 60px;
  z-index: 3;
  align-self: center;
}
.stars__container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(4, 25%);
  transform: translate(0, -5px);
  margin: 0 200px;
  
}

/*Positioning every star*/
.aa {
  grid-column: 1/2;
  grid-row: 4/5;
  transform: translate(10px, -5px)
}
.ab {
  grid-column: 2/3;
  grid-row: 3/4;
}
.ac{
  grid-column: 3/4;
  grid-row: 2/3;
}
.ad{
  grid-column: 4/5;
  grid-row: 1/2;
  margin-top: 10px;
}
.ae{
  grid-column: 5/6;
  grid-row: 1/2;
  margin-top: 10px;
}
.af{
  grid-column: 6/7;
  grid-row: 2/3;
}
.ag{
  grid-column: 7/8;
  grid-row: 3/4;
}
.ah{
  grid-column: 8/9;
  grid-row: 4/5;
  transform: translate(-10px, -5px)
}
